/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    position: relative;
}

.color-box {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    position: absolute;
}

#color-left {
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    height: 1080px;
}

#color-right {
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    height: 1080px;
}

#color-bottom {
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 1920px;
    height: 250px;
}

#mode-button{
    position: absolute;
    bottom: 600px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(116, 111, 145, 0.445);
    font-size: 18px;
    font-weight: bold;
    font-family: "Calibri", sans-serif;
}

#generate-button{
    position: absolute;
    bottom: 450px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(116, 111, 145, 0.445);
    font-size: 18px;
    font-weight: bold;
    font-family: "Calibri", sans-serif;
}

